body
{
	margin: auto;
	background-color: white;
}
#main
{
	width: 100%;			/* no mover */
	height: 1000px;
	/*max-width: 955px;		/* establecer este limite */
	margin: auto;
	background-color: #787878;		/* ajustar */
	color: #FFFFFF;		/* ajustar */
	overflow: hidden;	/* conserva relleno de fondo */
}
#top
{
	margin: auto;
}
#header
{
	background-image: url(../images/bg_header.jpg);	/* ajustar */
	background-color: #CCCC99;		/* ajustar */
	color: #000000;				/* ajustar */
	/*overflow: hidden;*/

	position: fixed;
	width: 100%;
	/*max-width: 955px;		/* establecer este limite */
	top: 0%;
	margin-top: -1.5em;
	margin: auto;
}
#header_left
{
	float: left;
	overflow: hidden;
	text-align: center;	/* para centrar el contenido (logo) */
}
#logo_top
{
	margin: 5px auto;		/* ajustar */
	padding-left: 10px;		/* ajustar */
	padding-right: 10px;		/* ajustar */
}
#header_right
{
	padding-top: 30px;		/* ajustar!!!!! */
	font-size: 10px;
	text-align: center;		/* para centrar el contenido (texto) */
	overflow: hidden;		/* no quitar */
}
#menu_top
{
}
ul#menu_inline
{
	margin: 0;			/* no tocar */
}
ul#menu_inline li { 
	display: inline;		/* no tocar */
}
ul#menu_inline li a
{
	text-decoration: none;
	color: #000000;				/* ajustar */
	width: 5em;				/* ajustar */
	padding: 0.5em 1em;			/* ajustar */
	border-right: 1px solid #FFFFFF;	/* ajustar */
}
ul#menu_inline li a:hover
{
	color: #FFFFFF;				/* ajustar */
}

#content {
	margin-top: 4em;			/* ajustar */	
	text-align: center;
	max-width: 900px;		/* establecer este limite */
	color: #FFFFFF;				/* ajustar */
}
#footer
{
	clear: both;
	padding: .2em;				/* ajustar */
	color: #000000;				/* ajustar */
	background-color: #CCCC99;		/* ajustar */
	overflow: hidden;

	position: fixed;
	width: 100%;
	/*max-width: 955px;		/* establecer este limite */
	bottom: 0em;
}
#footer_left
{
	float: left;
	text-align: left;
        font-size: 10px;				/* ajustar */
	margin: auto;
}
#footer_right
{
	float: right;
	text-align: right;
        font-size: 10px;			/* ajustar */
}
#tarifas {
	padding-top: 5em;
}
#reservaciones {
	padding-top: 5em;
}
#contacto {
	padding-top: 5em;
}
#galeria {
	padding-top: 5em;
}
#servicios {
	padding-top: 5em;
}
#relleno {
	height: 50em;
}
